h1{
    color:navy;
    font-style: italic;
    border: 15px;
    border-width: 10px;
    border-color: gold
}
body{
    background: linear-gradient( grey, rgb(30, 27, 27));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    color:gold
}
#add{
    font-style: italic;
    color:darkblue;
    border: solid 5px;
    border-color: green;
    border-width: 2px;
    text-align: center;
}
/*
#add:hover{
    animation: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
*/
#sub{
    font-style: italic;
    color:darkblue;
    border: solid 5px;
    border-color: red;
    border-width: 2px;
    text-align: center;
}
#mul{
    font-style: italic;
    color:darkblue;
    border: solid 5px;
    border-color: green;
    border-width: 2px;
    text-align: center;
}
#div{
    font-style: italic;
    color:darkblue;
    border: solid 5px;
    border-color: red;
    border-width: 2px;
    text-align: center;
}
